.nav-layout {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
    grid-template-areas: 
    "title . grid-view line-view list-view . to-about . socials";
  }
  
.grid-view-layout {  
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto repeat(4,1fr);
  grid-template-areas:
  "title . grid-view line-view list-view . to-about . socials"
    "th-1 . th-5 . . . th-10 . ."
    "th-2 . . th-7 . th-9 . th-12 ."
    ". th-4 th-6 . . . th-11 . ."
    "th-3 . . th-8 . . . . th-13";
  
  width: 100%;
  height: auto;
  row-gap: 1.25rem;
  column-gap: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.presentation-view-layout {  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas:
  "th-1 th-2 th-3 th-4 th-5 th-6 th-7 th-8 th-9 th-10 th-11 th-12 th-13";
  
  width: 100vw;
  height: 12rem;
  position: absolute;
  bottom: 0;
  padding: 2.5rem 10rem;
  column-gap: 1.25rem;
}

.title { grid-area: title; }

.grid-view { grid-area: grid-view; }

.line-view { grid-area: line-view; }

.list-view { grid-area: list-view; }

.to-about { grid-area: to-about; }

.socials { grid-area: socials; }

.th-1 { grid-area: th-1; }

.th-2 { grid-area: th-2; }

.th-3 { grid-area: th-3; }

.th-4 { grid-area: th-4; }

.th-5 { grid-area: th-5; }

.th-6 { grid-area: th-6; }

.th-7 { grid-area: th-7; }

.th-8 { grid-area: th-8; }

.th-9 { grid-area: th-9; }

.th-10 { grid-area: th-10; }

.th-11 { grid-area: th-11; }

.th-12 { grid-area: th-12; }

.th-13 { grid-area: th-13; }
